body {
	font-family: 'Roboto', sans-serif;
	max-width: 850px;
}

.mainpage {
	position: relative;
	height: 600px;
	margin-bottom: 200px;
}
.mainlines {
	position: absolute;
	height: 600px;
	width: 100%;
}
h1 {
	font-size: 2rem;
}
h4 {
	font-size: 1rem;
	font-weight: normal;
}
h3 {
	font-size: 1rem;
}
p {
	font-size: 1rem;
}
.manafortpart p {
	font-size: 0.8rem;
}

.heads {
	position: absolute;
	transition: width 0.5s ease;
	width: 25%;
}
.heads:hover {
	width: 30%;
}

#manafort { 
    position: absolute;
	top: 6%;
	left: 17%;
	}

#paul {
	position: absolute;
	top: 1%;
	left: 7%;
	color: #005a81;
}
#don {
	position: absolute;
	top: 25%;
	left: 7%;
}

#trumpJr {
	position: absolute;
	top: 19.5%;
	left: 2%;
	color: #005a81;
}
#jared {
	position: absolute;
	top: 44%;
	left: 7%;
}

#kushner {
	position: absolute;
	top: 59%;
	left: 2%;
	color: #005a81;
}
#jeff {
	position: absolute;
	top: 65%;
	left: 15%;
}

#sessions {
	position: absolute;
	top: 79%;
	left: 7%;
	color: #005a81;
}
#mike {
	position: absolute;
	top: 78%;
	left: 40%;
}

#flynn {
	position: absolute;
	top: 92%;
	left: 45%;
    color: #005a81;
}
#nat {
	position: absolute;
	top: 47%;
	left: 64%;
}

#vesel {
	position: absolute;
	top: 37%;
	left: 68%;
	color: #a0262a;
}
#serg {
	position: absolute;
	top: 70%;
    left: 70%;	
}

#gorkov {
	position: absolute;
	top: 64%;
	left: 64%;
	color: #a0262a;
}
#sergey {
	position: absolute;
	top: 15%;
	left: 59%;
}

#kislyak {
	position: absolute;
	top: 8%;
	left: 64%;
	color: #a0262a;
}		
.manafortpart {
	position: relative;
	height: 600px;
	margin-bottom: 200px;
}
.line {
	position: absolute;
	width: 100%;
	height: 100%;
}
.ease {
	position: absolute;
	transition: width 0.5s ease;
    width: 28%;
}
.ease:hover {
	width: 32%;
}
.trumpText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.trumpText2 {
	position: absolute;
	top: 35%;
	left: 5%;
	}
.trumpText3 {
	position: absolute;
	top: 35%;
	left: 60%;
}

#natLink {
	position: absolute;
	top: 70%;
	left: 36%;
}

#trumpHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

#kushnerHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

}
.kushnerText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.kushnerText3 {
	position: absolute;
	top: 12%;
	left: 64%;
}
.kushnerText4 {
	position: absolute;
	top: 72%;
	left: 5%;
}
.kushnerText5 {
	position: absolute;
	top: 72%;
	left: 40%;
}
.kushnerText6 {
	position: absolute;
	top: 72%;
	left: 75%;
}
#natLink2 {
	position: absolute;
	top: 53.5%;
	left: 4.5%;
}

#kislyakLink {
	position: absolute;
	top: 53.5%;
	left: 35%;
	}

#gorkovLink {
	position: absolute;
	top: 53.5%;
	left: 68%;
}

#manafortHome {
	position: absolute;
	top: 15%;
	left: 36%;
}
	
.manafortText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.manafortText2 {
	position: absolute;
	top: 30%;
	left: 5%;
}
.manafortText3 {
	position: absolute;
	top: 35%;
	left: 54%;
}
.manafortText4 {
	position: absolute;
	top: 58%;
	left: 64%;
}
#natLink3 {
	position: absolute;
	top: 59%;
	left: 36%;
}

#sessionsHome {
	position: absolute;
	top: 15%;
	left: 36%;
}
	
.sessionsText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.sessionsText2 {
	position: absolute;
	top: 31%;
	left: 5%;
}
#kislyakLink2 {
	position: absolute;
	top: 56.5%;
	left: 36%;
}

#flynnHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

#kislyakHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

.flynnText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.flynnText2 {
	position: absolute;
	top: 35%;
	left: 54%;
}
.flynnText3 {
	position: absolute;
	top: 48%;
	left: 5%;
	color: red;
}
.flynnText4 {
	position: absolute;
	top: 51%;
	left: 5%;
}
#kislyakLink3 {
	position: absolute;
	top: 56.5%;
	left: 36%;
}

.kislyakText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.kislyakText2 {
	position: absolute;
	top: 38%;
	left: 15%;
	background-color: white;
}
.kislyakText3 {
	position: absolute;
	top: 73%;
	left: 5%;
}
#sessionsLink {
	position: absolute;
	top: 55%;
	left: 4.5%;
}

#kushnerLink {
	position: absolute;
	top: 55%;
	left: 35%;
	}

#flynnLink {
	position: absolute;
	top: 55%;
	left: 68%;
}

#gorkovHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

.gorkovText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.gorkovText2 {
	position: absolute;
	top: 30%;
	left: 5%;
}
#kushnerLink2 {
	position: absolute;
	top: 59%;
	left: 35%;
	}

#natHome {
	position: absolute;
	top: 15%;
	left: 36%;
}

.veselText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.veselText2 {
	position: absolute;
	top: 78%;
	left: 5%;
}
#manafortLink2 {
	position: absolute;
	top: 59%;
	left: 4.5%;
}

#kushnerLink3 {
	position: absolute;
	top: 59%;
	left: 35%;
	}

#trumpJrLink {
	position: absolute;
	top: 59%;
	left: 68%;
}


@media only screen and (min-width: 500px)  {
	
	.heads {
		width: 15%;
	}
	.heads:hover {
		width: 20%;
	}
	.ease {
		width: 15%;
	}
	.ease:hover {
		width: 20%;
	}
	.line {
		right: 6%;
	}
	.mainlines {
		right: 6%;
	}
	
	.manafortpart p {
	font-size: 1rem;
}
.manafortText4 {
	position: absolute;
	top: 58%;
	left: 54%;
}

}
