body {
	font-family: 'Roboto', sans-serif;
}

.mainpage {
	position: relative;
	margin-bottom: 200px;
}
h1 {
	font-size: 3rem;
}
h4 {
	font-size: 2rem;
	font-weight: normal;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 2rem;
}

@media only screen and (max-width: 900px){
	p {
	font-size: 1rem;
}
h1 {
	font-size: 2rem;
}
h4 {
	font-size: 1rem;
}
h3 {
	font-size: 1rem;
}
}
.heads {
	transition: width 0.5s ease;
}
#manafort { 
    position: absolute;
	width: 25%;
	top: 6%;
	left: 20%;
	transition: width 0.5s ease;
	}
#manafort:hover {
	width: 30%;
	}
#paul {
	position: absolute;
	top: 2%;
	left: 7%;
	color: #005a81;
}
#don {
	position: absolute;
	width: 25%;
	top: 25%;
	left: 7%;
	
}
#don:hover {
	width: 30%;
	}
#trumpJr {
	position: absolute;
	top: 19.5%;
	left: 2%;
	color: #005a81;
}
#jared {
	position: absolute;
	width: 25%;
	top: 47%;
	left: 7%;
}
#jared:hover {
	width: 30%;
	}
#kushner {
	position: absolute;
	top: 62%;
	left: 2%;
	color: #005a81;
}
#jeff {
	position: absolute;
	width: 25%;
	top: 68%;
	left: 7%;
}
#jeff:hover {
	width: 30%;
	}
#sessions {
	position: absolute;
	top: 82%;
	left: 2%;
	color: #005a81;
}
#mike {
	position: absolute;
	width: 25%;
	top: 78%;
	left: 46%;
}
#mike:hover {
	width: 30%;
	}
#flynn {
	position: absolute;
	top: 93%;
	left: 51%;
    color: #005a81;
}
#nat {
	position: absolute;
	width: 25%;
	top: 32%;
	left: 64%;
}
#nat:hover {
	width: 30%;
	}	
#vesel {
	position: absolute;
	top: 47%;
	left: 68%;
	color: #a0262a;
}
#serg {
	position: absolute;
	width: 25%;
	top: 70%;
    left: 70%;	
}
#serg:hover {
	width: 30%;
	}
#gorkov {
	position: absolute;
	top: 64%;
	left: 75%;
	color: #a0262a;
}
#sergey {
	position: absolute;
	width: 25%;
	top: 15%;
	left: 59%;
}
#sergey:hover {
	width: 30%;
	}
#kislyak {
	position: absolute;
	top: 8%;
	left: 64%;
	color: #a0262a;
}		
.manafortpart {
	position: relative;
	border: 1px solid yellow;
	height: 550px;
	padding-top: 200px;
	padding-bottom: 400px;
}
.line {
	position: absolute;
	width: 100%;
	height: 100%;
}
.ease {
	transition: width 0.5s ease;
}
.trumpText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.trumpText2 {
	position: absolute;
	top: 45%;
	left: 5%;
	}
.trumpText3 {
	position: absolute;
	top: 45%;
	left: 60%;
}
#natLink {
	position: absolute;
	width: 28%;
	top: 68%;
	left: 36%;
}
#natLink:hover {
	width: 32%
}
#trumpHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#trumpHome:hover {
	width: 32%;
}
#kushnerHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#kushnerHome:hover {
	width: 32%;
}
.kushnerText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.kushnerText2 {
	position: absolute;
	top: 15%;
	left: 64%;
}
.kushnerText3 {
	position: absolute;
	top: 25%;
	left: 5%;
}
.kushnerText4 {
	position: absolute;
	top: 67%;
	left: 5%;
}
.kushnerText5 {
	position: absolute;
	top: 67%;
	left: 40%;
}
.kushnerText6 {
	position: absolute;
	top: 67%;
	left: 75%;
}
#natLink2 {
	position: absolute;
	width: 28%;
	top: 53.5%;
	left: 4.5%;
}
#natLink2:hover {
	width: 32%;
}
#kislyakLink {
	position: absolute;
	width: 28%;
	top: 53.5%;
	left: 35%;
	}
#kislyakLink:hover {
	width: 32%;
}
#gorkovLink {
	position: absolute;
	width: 28%;
	top: 53.5%;
	left: 68%;
}
#gorkovLink:hover {
	width: 32%;
}
#manafortHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#manafortHome:hover {
	width: 32%;
}	
.manafortText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.manafortText2 {
	position: absolute;
	top: 30%;
	left: 53%;
}
.manafortText3 {
	position: absolute;
	top: 50%;
	left: 5%;
}
#natLink3 {
	position: absolute;
	width: 28%;
	top: 59%;
	left: 33%;
}
#natLink3:hover {
	width: 32%;
}
#sessionsHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#sessionsHome:hover {
	width: 32%;
}	
.sessionsText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.sessionsText2 {
	position: absolute;
	top: 25%;
	left: 5%;
}
#kislyakLink2 {
	position: absolute;
	width: 28%;
	top: 56.5%;
	left: 36%;
}
#kislyakLink2:hover {
	width: 32%;
}
#flynnHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#flynnHome:hover {
	width: 32%;
}
#kislyakHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#kislyakHome:hover {
	width: 32%;
}

.flynnText {
	position: absolute;
	top: 5%;
	left: 5%;
}
#kislyakLink3 {
	position: absolute;
	width: 28%;
	top: 56.5%;
	left: 36%;
}
#kislyakLink3:hover {
	width: 32%;
}
.kislyakText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.kislyakText2 {
	position: absolute;
	top: 20%;
	left: 5%;
}
#sessionsLink {
	position: absolute;
	width: 28%;
	top: 55%;
	left: 4.5%;
}
#sessionsLink:hover {
	width: 32%;
}
#kushnerLink {
	position: absolute;
	width: 28%;
	top: 55%;
	left: 35%;
	}
#kushnerLink:hover {
	width: 32%;
}
#flynnLink {
	position: absolute;
	width: 28%;
	top: 55%;
	left: 68%;
}
#flynnLink:hover {
	width: 32%;
}
#gorkovHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#gorkovHome:hover {
	width: 32%;
}
.gorkovText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.gorkovText2 {
	position: absolute;
	top: 30%;
	left: 5%;
}
#kushnerLink2 {
	position: absolute;
	width: 28%;
	top: 59%;
	left: 35%;
	}
#kushnerLink2:hover {
	width: 32%;
}
#natHome {
	position: absolute;
	width: 28%;
	top: 15%;
	left: 36%;
}
#natHome:hover {
	width: 32%;
}
.veselText {
	position: absolute;
	top: 5%;
	left: 5%;
}
.veselText2 {
	position: absolute;
	top: 25%;
	left: 65%;
}
#manafortLink2 {
	position: absolute;
	width: 28%;
	top: 59%;
	left: 4.5%;
}
#manafortLink2:hover {
	width: 32%;
}
#kushnerLink3 {
	position: absolute;
	width: 28%;
	top: 59%;
	left: 35%;
	}
#kushnerLink3:hover {
	width: 32%;
}
#trumpJrLink {
	position: absolute;
	width: 28%;
	top: 59%;
	left: 68%;
}
#trumpJrLink:hover {
	width: 32%;
}
.button {
	position: fixed;
	left: 72%;
	top: 3%;
}
button {
	background-color: #ff9900;
    border: none;
	width: 200px;
	height: 75px;
    text-align: center;
	border-radius: 10px;
    font-size: 48px;
	color: white;
}
